<div class="bg-light">
  <div>
    <h3>Activity 6: True or False? Tell us about yourself</h3>
  </div>
  <div>
    <div class="ms-4">
      <p>I wear glasses: <span class="boolean" id="ans1"></span></p>
    </div>
    <div class="ms-4">
      <p>My birthday is in the summer: <span class="boolean" id="ans2"></span></p>
    </div>
    <div class="ms-4">
      <p>I like pizza: <span class="boolean" id="ans3"></span></p>
    </div>
    <div class="ms-4">
      <p>I have traveled outside of the United States: <span class="boolean" id="ans4"></span></p>
    </div>
    <div class="ms-4">
      <p>I have a brother: <span class="boolean" id="ans5"></span></p>
    </div>
    <div class="ms-4">
      <p>I play video games: <span class="boolean" id="ans6"></span></p>
    </div>
    <div class="ms-4">
      <p>My favorite color is blue: <span class="boolean" id="ans7"></span></p>
    </div>
    <div class="ms-4">
      <p>I have pets: <span class="boolean" id="ans8"></span></p>
    </div>
    <div class="ms-4">
      <p>I have a nickname I like: <span class="boolean" id="ans9"></span></p>
    </div>
    <div class="ms-4">
      <p>My favorite subject in school is math: <span class="boolean" id="ans10"></span></p>
    </div>
    <div class="ms-4">
      <p>I speak a second language: <span class="boolean" id="ans11"></span></p>
    </div>
  </div>