<h3 class="text-center">Activity 7: Working with Data Types<br /> <br />Data is just the answers to questions -- so
  let's answers some
  questions;
  make
  sure to use the correct data type</h3>
<button class="btn" onclick="draw()" class="mb-4">Check Answers</button>
<div class="bg-light">
  <div class="ms-4">
    <p>I have read all the Harry Potter books: <span class="data-ans" id="ans1"></span></p>
  </div>
  <div class="ms-4">
    <p>My favorite video game is: <span class="data-ans" id="ans2"></span></p>
  </div>
  <div class="ms-4">
    <p>I am ____ years old: <span class="data-ans" id="ans3"></span></p>
  </div>
  <div class="ms-4">
    <p>When I grow up, I want to be a: <span class="data-ans" id="ans4"></span></p>
  </div>
  <div class="ms-4">
    <p>I have a sister: <span class="data-ans" id="ans5"></span></p>
  </div>
  <div class="ms-4">
    <p>I am in grade: <span class="data-ans" id="ans6"></span></p>
  </div>
  <div class="ms-4">
    <p>My favorite color is: <span class="data-ans" id="ans7"></span></p>
  </div>
  <div class="ms-4">
    <p>The kind of pet I have/want is: <span class="data-ans" id="ans8"></span></p>
  </div>
  <div class="ms-4">
    <p>My favorite numbers is: <span class="data-ans" id="ans9"></span></p>
  </div>
  <div class="ms-4">
    <p>I was born in Idaho: <span class="data-ans" id="ans10"></span></p>
  </div>
  <div class="ms-4">
    <p>My favorite sport is: <span class="data-ans" id="ans11"></span></p>
  </div>
</div>