<div>
  <h3 class="text-center">Activity 4: Computers are good at MATH!</h3>
  <div class="bg-light notepad">
    <div>
      <h4>Question 1: Addition</h6>
        <p>
          356799 + 2594817 = <span id="answer1">???</span>
        </p>
    </div>
    <div>
      <h4>Question 2: Subtraction</h6>
        <p>
          60000 - 49832 = <span id="answer2">???</span>
        </p>
    </div>
    <div>
      <h4>Question 3: Multiplication</h6>
        <p>
          258 * 425 = <span id="answer3">???</span>
        </p>
    </div>
    <div>
      <h4>Question 4: Division</h6>
        <p>
          1000000 / 450 = <span id="answer4">???</span>
        </p>
    </div>
    <div>
      <h4>Question 5: Modulus Operator</h6>
        <p>
          10 % 2 = <span id="answer5">???</span>
        </p>
    </div>
    <div>
      <h4>Question 6: Order of Operations</h6>
        <p>
          (5 + 1) * 17 / (9-6) = <span id="answer6">???</span>
        </p>
    </div>

  </div>