<div class="mt-4">
  <h2 class="text-center">Activity 2: Name Your Pets</h2>
</div>
<div class="d-flex text-center">
  <div>
    <img src="assets/cat.png" class="pet-pic" />
    <p class="text-center">Name: <span id="cat-name"></span></p>
  </div>
  <div>
    <img src="assets/dog.png" class="pet-pic" />
    <p class="text-center">Name: <span id="dog-name"></span></p>
  </div>
  <div>
    <img src="assets/turtle.png" class="pet-pic" />
    <p class="text-center">Name: <span id="turtle-name"></span></p>
  </div>
  <div>
    <img src="assets/cockatoo.png" class="pet-pic" />
    <p class="text-center">Name: <span id="bird-name"></span></p>
  </div>
</div>