<div class="text-center">
  <h2>Activity 5: Math Operator Bingo</h2>
  <div class="d-flex p-3">
    <button class="btn" onclick="getMathProblem()" class="me-4">Get Math Problem</button>
    <h3 class="m-0 ms-4" id="math-problem"></h3>
  </div>
  <div id="bingo-board">
    <div class="d-flex justify-content-center selectable">
      <div id="box1" onclick="selectBox('box1')" class="box">
        <p>math problem</p>
      </div>
      <div id="box2" onclick="selectBox('box2')" class="box">
        <p>math problem</p>
      </div>
      <div id="box3" onclick="selectBox('box3')" class="box">
        <p>math problem</p>
      </div>
      <div id="box4" onclick="selectBox('box4')" class="box">
        <p>math problem</p>
      </div>

    </div>
    <div class="d-flex justify-content-center selectable">
      <div id="box5" onclick="selectBox('box5')" class="box">
        <p>math problem</p>
      </div>
      <div id="box6" onclick="selectBox('box6')" class="box">
        <p>math problem</p>
      </div>
      <div id="box7" onclick="selectBox('box7')" class="box">
        <p>math problem</p>
      </div>
      <div id="box8" onclick="selectBox('box8')" class="box">
        <p>math problem</p>
      </div>
    </div>
    <div class="d-flex justify-content-center selectable">
      <div id="box9" onclick="selectBox('box9')" class="box">
        <p>math problem</p>
      </div>
      <div id="box10" onclick="selectBox('box10')" class="box">
        <p>math problem</p>
      </div>
      <div id="box11" onclick="selectBox('box11')" class="box">
        <p>math problem</p>
      </div>
      <div id="box12" onclick="selectBox('box12')" class="box">
        <p>math problem</p>
      </div>
    </div>
    <div class="d-flex justify-content-center selectable">
      <div id="box13" onclick="selectBox('box13')" class="box">
        <p>math problem</p>
      </div>
      <div id="box14" onclick="selectBox('box14')" class="box">
        <p>math problem</p>
      </div>
      <div id="box15" onclick="selectBox('box15')" class="box">
        <p>math problem</p>
      </div>
      <div id="box16" onclick="selectBox('box16')" class="box">
        <p>math problem</p>
      </div>
    </div>
  </div>

</div>