<div class="mt-4 mb-4">
  <blockquote class="bg-light">
    "[Here], you'll learn to program with JavaScript, the language of the Web. But more than that, you'll become a
    programmer—someone who not only <i>uses</i> computers but also <i>controls</i> them. Once you learn to program,
    you can bend computers to your will and make them do whatever you want!" ~Nick Morgan, <u>JavaScript for
      Kids</u>
  </blockquote>

</div>

<div class="m-4">
  <div>
    <h2>Activity 1: Put fish in the river</h2>
  </div>
  <div class="pos-rel">
    <div class="pos-abs">
      <button class="btn" onclick="drawFish()">Draw Fish</button>
      <h3 class="mt-4" id="fish-pond">
        <!-- Fish will be drawn here  -->
    </div>
  </div>
  <img src="assets/river.png" class="river-pic" />